<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524609104158-kal4jbeth37a3as28gmd7dc4bbnf77st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524609104158-kal4jbeth37a3as28gmd7dc4bbnf77st</string>
	<key>API_KEY</key>
	<string>AIzaSyD39o6oxhq5N0swBRQCVjTWcqwYsLRbGXE</string>
	<key>GCM_SENDER_ID</key>
	<string>524609104158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jonathan-Kearns.MAD-257-Firebase-JonathanK</string>
	<key>PROJECT_ID</key>
	<string>message-firebase-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>message-firebase-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524609104158:ios:ad0b56ec1cbdf0b180c10f</string>
</dict>
</plist>